#include <windows.h>
#include "resource.h"

ID_ACCEL ACCELERATORS

BEGIN
VK_BACK,   ID_BACK,   VIRTKEY
VK_ESCAPE, ID_ESCAPE, VIRTKEY
VK_DELETE, ID_DELETE, VIRTKEY
VK_TAB,    ID_TAB,    VIRTKEY 
END



ID_DIALOG_CHOOSE DIALOGEX DISCARDABLE 0, 0, 50, 40

STYLE   DS_MODALFRAME | WS_POPUP | DS_SETFOREGROUND | DS_CENTER 
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
FONT    8, "Calibre"

BEGIN
CONTROL "", ID_BTN_SERVER, "BUTTON", BS_OWNERDRAW, 5, 10, 40, 10
CONTROL "", ID_BTN_JOIN,   "BUTTON", BS_OWNERDRAW, 5, 25, 40, 10
END


ID_DIALOG_SOCKET DIALOGEX DISCARDABLE 0, 0, 125, 20

STYLE   DS_MODALFRAME | WS_POPUP | DS_SETFOREGROUND | DS_CENTER 
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
FONT    8, "Calibre"

BEGIN
CONTROL "xxx.xxx.xxx.xxx", ID_EDIT_IP,   "EDIT",   ES_NUMBER | WS_BORDER,   5, 5, 60, 10
CONTROL "5050",            ID_EDIT_PORT, "EDIT",   ES_NUMBER | WS_BORDER,  70, 5, 25, 10
CONTROL "",                ID_BTN_OK,    "BUTTON", BS_OWNERDRAW,          100, 5, 20, 10   
END




